/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';



* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: #aaa;
  min-height: 100vh;
  header {

    #header-name-wrapper {

      background: #eee; 
      display: flex;
      justify-content: center;
      h1 {
        margin: 0;
        padding: .5em;
        border-bottom: .15em solid black;
        font-size: 4em;
      }
    }
      nav {
        background: #666;
        // height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          flex-wrap: wrap;
          padding: .75em;
          li {
            min-height: 100%;
            margin: 1em 3em;

          }
        }
      }
  }
  main {
    background: #999;
    display: flex;
    min-height: 24em;
    .main-image-wrapper {
      
      img {
        max-width: 30%;
        min-width: 22em;
        padding: 2em;
      }
    } 
    .content {
      .about-me-wrapper {
        margin: 1em;
      }
      .preview-wrapper {
        img {
          width: 20%;
          height: 8em;
          margin: 2em;
          transition: height 1s, width 1s;
        }
        img:hover {
          height: 9em;
          width: 25%;
        }
      }
    }   
  }
  footer {
    min-height: 3em;

  }
}
